:root {
    --primary-color: #002E5D;
    --sidebar-color: #96b0ca;
    --secondary-color: #0087a8;
    --hover-color: #002f5da6;
    --backgroud: #F8F8FF;
    --light-text: #fff;
    --red-background: #f2dede;
	--red-text: #a94442;
	--green-text: #3c763d;
	--green-background: #dff0d8;
}

/* Custom */
/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Candal", serif;
    color: #5c5b5b;
    margin: 5px;
} */
a {
    text-decoration: none;
    color: inherit;
  }

/* Sidebar */
.sidebar {
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    }   
    